<h1>
  Seu pagamento foi aprovado!
</h1>

<br />

<h2>
  Informações:
</h2>

<br />

<p>Método de pagamento: {{query.payment_method_id}}</p>
<p>Referência externa: {{query.external_reference}}</p>
<p>ID do pagamento: {{query.payment_id}}</p>